:root {
    --first-header-color: #212121;
    --second-header-color: #757575;
    --first-title-color: #FFFFFF;
    --second-title-color:#212121;
    --first-text-color: #757575;
    --second-text-color: #FFFFFF;
    --accent-text-color: #2196F3;
    --btn-color:  #FFFFFF;
    --bcg-btn-color: #2196F3;
    --bcg-first-color:  #FFFFFF;
    --bcg-second-color: #F5F4FA;
    --bcg-accent-color: #2F303A;
    --icons-color: #AFB1B8;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--first-header-color);
    background-color: var(--bcg-first-color);
}

.list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.link{
    text-decoration: none;
    color: currentColor;
    
}


.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.section {
    padding: 94px 0px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* header */
/* header-block */
.header {
    background-color: var(--bcg-header-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    border-bottom:1px solid #ECECEC;
}

.header__container {
    display: flex;
}

.header__nav {
    display: flex;
}

.logo {
    display: flex;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--first-header-color);
    padding: 24px 0px;
}

.logo__web {
    color: var(--accent-text-color);
}

.header__list {
    position: relative;
    display: flex;
    margin-left: 93px;
    }

.header__item + .header__item {
margin-left: 50px;
}

.header__item:after {
    position: absolute;
    content: "";
    bottom: 0;
    width: 48px;
    height: 4px;
    background-color: var(--accent-text-color);
    opacity: 0;
    border-radius: 2px;
} 

.header__item:hover::after {
    opacity: 1;
} 

.header__item:nth-child(2)::after {
    width: 76px;
}

.header__item:last-child::after {
    width: 67px;
}

.header__current-item::after {
    position: absolute;
    content: "";
    bottom: 0;
    width: 48px;
    height: 4px;
    background-color: var(--accent-text-color);
    border-radius: 2px;
    opacity: 1;
}

.header__current-item--size::after {
    position: absolute;
    content: "";
    bottom: 0;
    width: 76px;
    height: 4px;
    background-color: var(--accent-text-color);
    border-radius: 2px;
    opacity: 1;
    }

.header__link {
    color: var(--first-header-color);
    padding: 32px 0px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.header__link--current {
    color: var(--accent-text-color);
}

.header__link:focus, .header__link:hover {
    color: var(--accent-text-color);
}

/* contacts-block */
.contacts {
    display: flex;
    margin-left: auto;
    }

.contacts__item {
    display: flex;
    align-items: baseline;
}

.contacts__item + .contacts__item {
    margin-left: 50px;
}

.contacts__tel, .contacts__mail {
    color: var(--second-header-color);
    display: flex;
    padding: 32px 0px;
    display: flex;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__tel--color {
    color: var(--first-text-color);
    align-items: center;
}

.contacts__tel:hover, .contacts__mail:hover,
.contacts__tel:focus, .contacts__mail:focus {
    color: var(--accent-text-color);
}

.contacts__icon {
    fill: currentColor;
}

.contacts__icon:last-child {
    margin-right: 10px;
}


/* hero-index */
/* hero-block */

.hero {
    letter-spacing: 0.06em;
    padding-top: 200px;
    padding-bottom: 200px;
   }

.hero__bcgi {
    background-image: linear-gradient(rgba(47, 48, 58, .4), rgba(47, 48, 58, .4)),
    url('../images/Imgbcg.jpg');
    background-color: var(--bcg-accent-color);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 1600px;
    margin: 0px auto;
}

.hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
    text-align: center;
    color: var(--first-title-color);
    margin: 0px auto 30px auto;
}

/* btn-block */
.btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    display: inline-block;
    align-items: center;
    text-align: center;
    border: transparent;
    cursor: pointer;

    color: inherit;
    padding: 0px;
    min-width: 200px;
    border-radius: 4px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
}

.btn:hover, .btn:focus {
    color: var(--btn-color);
    background-color: var(--bcg-btn-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
 }

.btn__order {
    color: var(--btn-color);
    background-color: var(--bcg-btn-color);
    padding: 10px 32px;
}

/* hero-portfolio */
/* portfolio-block */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0px;
    padding: 0px;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.portfolio__btn-list {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}

.portfolio__btn-item:first-child {
    margin-right: 8px;
}

.portfolio__btn-item:last-child {
    margin-right: 8px;
}

.portfolio__btn-item + .portfolio__btn-item {
        margin-right: 8px;
}
 
.portfolio__btn {
    color: inherit;
    background-color: var(--bcg-second-color);
    text-align: center;
    padding: 6px 22px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.portfolio__btn--choosen {
    color: var(--btn-color);
    background-color: var(--bcg-btn-color);
    min-width: 73px;
    text-align: center;
    padding: 6px 22px;
    margin-right: 8px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
   
.btn--size-second {
    min-width: 128px;
}
.btn--size-third {
    min-width: 145px;
}

.btn--size-fourth {
    min-width: 103px;
}

.btn--size-fifth {
    min-width: 130px;
}


/* cards-block */
.card {
display: flex;
flex-wrap: wrap;
}

.card__item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    }

.card__item:nth-child(3n) {
margin-right: 0px;
}

.card__item:nth-last-child(-n+3) {
margin-bottom: 0px;
}

.card__link {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__link:hover, .card__link:focus  {
    display: block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__wrap {
    position: relative;
    overflow: hidden;
}

.card__meta {
    position: absolute;
    top:0;
    margin: 0px;
    font-size: 18px;
    line-height: 1.56;
    color: var(--bcg-first-color);
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    transform: translateY(100%);
    transition: transform 250ms ;
    }

.card__item:hover .card__meta{
    transform: translateY(0%);
}

.card__focus-link:focus .card__meta {
    transform: translateY(0%);
}

.card__border {
    border: 1px solid #EEEEEE;
    border-top: 0px;
    padding: 20px 24px;
}

.card__title {
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    text-align: left;
    margin: 0px;
}

.card__description {
    line-height: 1.88;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--first-text-color);
    margin: 0px;
}




/* advantage */
/* advantage-block */
.advantage__list {
    display: flex;
    flex-wrap: wrap;
    }

.advantage__item {
    font-size: 14px;
    letter-spacing: 0.03em;
    width: 270px;
    margin-right: 30px;
}

.advantage__item:last-child {
    margin-right: 0px;
}

.advantage__container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bcg-second-color);
    border-radius: 4px;
    margin-right: 30px;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
}

.advantage__title {
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0px 0px 10px 0px;
   }

.advantage__description {
    line-height: 1.71;
    color: var(--first-text-color);
    margin: 0px;
}



/* service */

.service {
    padding-top: 0px;
}

.service__title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0px auto 50px auto;
}

.service__list {
    display: flex;
    justify-content: space-between;
}

.service__item {
    display: flex;
}

.service__wrap {
    position: relative;
}

.service__name {
    display: flex;
    position: absolute;
    bottom: 0px;
        
    width: 100%;
    height: 70px;
    margin: 0px;

    background: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--first-title-color);
    justify-content: center;
    align-items: center;
}


/* team */
/* team-block */

.team {
    background-color: var(--bcg-second-color);
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.team__title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0px auto 50px auto;
}

.team__list {
    display: flex;
}

.team__item {
    background-color: var(--bcg-first-color);
    width: 270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-right: 30px;
  }

.team__item:last-child {
    margin-right: 0px;
}

.team__wrap {
    padding: 30px 32px;
    text-align: center;
    display: block;
  }

.team__item-title {
    font-size: 16px;
    font-weight: 500;
    margin: 0px;
    min-width: 152px;
    margin-bottom: 10px;
}

.team__meta {
    color: var(--first-text-color);
    margin: 0px;
    min-width: 147px;
    margin-bottom: 16px;
}


.team__list-icon {
    cursor: pointer; 
    display: flex;
    justify-content: center;
    padding-left: 0px;
}

.team__item-icon + .team__item-icon {
    margin-left: 10px;
}

.team__link {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--bcg-first-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.team__link:hover, 
.team__link:focus {
    background-color: var(--bcg-btn-color);
}

.team__icon {
    fill: var(--icons-color);
}

.team__link:hover .team__icon {
fill: var(--bcg-first-color);
}

.team__link:focus .team__icon {
    fill: var(--bcg-first-color);
}


/* our-clients */
/* client-block */

.client__title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: inherit;
    margin: 0px;
    margin-bottom: 50px;
    padding: 0px;
}

.client__list {
    display: flex;
}

.client__item {
    cursor: pointer;
}

.client__item + .client__item {
    margin-right: 30px;
}

.client__item:first-child {
    margin-right: 30px;
}

.client__item:last-child {
    margin-right: 0px;
}

.client__link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--first-text-color);
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 170px;
    height: 92px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover, .client__link:focus  {
    border-color: var(--accent-text-color);
}

.client__icon {
    fill: var(--icons-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

.client__link:hover .client__icon {
fill: var(--accent-text-color);
}

.client__link:focus .client__icon {
    fill: var(--accent-text-color);
}


/* footer */
.footer {
    background-color: var(--bcg-accent-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    padding-bottom: 60px;
    padding-top: 60px;
    }

.footer__container {
    display: flex;
    align-items: baseline;
}

.footer__left-side {
    margin-right: 70px;
}

.footer__logo {
    margin-bottom: 20px;
    display: block;
    color: var(--first-title-color);
    padding: 0px;
}

.footer__address-item {
    font-style: normal;
    color: var(--second-text-color);
}

.footer__address-item, .footer__contact-item {
    margin-bottom: 9px;
    }
    
.footer__contact-item:last-child {
    padding: 0px;
    margin-bottom: 0px;
    }

.footer__mail, .footer__tel {
    color: var(--second-header-color);
    display: flex;
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__mail:hover, .footer__tel:hover,
 .footer__mail:focus, .footer__tel:focus {
    color: var(--accent-text-color);
}

.footer__medium {
    margin-right: auto;
}

.footer__action {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    margin: 0px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer__list-icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding-left: 0px;
    margin: 0px;
}

.footer__item + .footer__item {
    margin-left: 10px;
}

.footer__link {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color:rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link:hover,
.footer__link:focus {
    background-color: var(--bcg-btn-color);
}

.footer__icon {
    fill: var(--second-text-color);
}

.footer__link:hover .footer__icon {
    fill: var(--bcg-first-color);
}

.footer__link:focus .footer__icon {
    fill: var(--bcg-first-color);
}


/* form-block */
.form {
    display: flex;
}

.form__label {
    background-color: transparent;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, .3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    outline: none;

    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-right: 12px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__label:focus {
    border-color: var(--accent-text-color);
}


.form__btn {
    background-color: var(--bcg-btn-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 200px;
    height: 50px;

    color: var(--bcg-first-color);
    border-color: transparent;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    padding-left: 29px;
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__btn:hover, .form__btn:focus {
        color: var(--btn-color);
        background-color: var(--bcg-btn-color);
        box-shadow: 
        0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.form__icon {
    margin-left: 10px;
}


/* modal */
/* modal-block */

.backdrop {
    position: fixed;
    top:0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 300ms, visibility 300ms;
}


.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    min-height: 581px;
    width: 528px;
    background-color: var(--bcg-first-color);
    border-radius: 4px;
    box-shadow: 
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    animation: changeBgColor 2000ms;
    padding: 40px;
     } 

@keyframes changeBgColor {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.backdrop .modal .is-hidden {
transition: opacity 500ms;
}

.modal__close {
    position: absolute;
    top:8px;
    right:8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    fill: currentColor;
    padding: 6px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__close:hover, .modal__close:focus {
fill: var(--accent-text-color);
border-color: var(--accent-text-color);
}

.is-hidden {
    opacity:0;
    visibility:hidden;
    pointer-events:none; 
}

.modal__action {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-header-color);
    margin-bottom: 12px;
    margin-top: 0px;
}

.modal__field {
    margin-bottom: 10px;
}

.modal__label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--first-text-color);
    margin-bottom: 4px;
}

.modal__wrap-input {
    position: relative;
}

.modal__input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 42px;
    outline: none;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus {
border-color: var(--accent-text-color);
}

.modal__icon {
    position: absolute;
    top:50%;
    left:12px;
    transform: translateY(-50%);
}

.modal__input:focus + .modal__icon {
    fill: var(--accent-text-color);
}

.modal__field--margin {
margin-bottom: 20px;
}

.modal__textarea {
    display: block;
    resize: none;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: transparent;
  
    outline: none;
    padding: 12px 16px 12px 16px;
    
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    
    color: rgba(117,117,117,0.5);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__textarea:focus {
    border-color: var(--accent-text-color);
}

.modal__agree {
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

.modal__agree-label {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.01em;
    color: var(--first-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.modal__agree-label span {
     width: 16px;
    height: 15px;
    border: 2px solid var(--first-header-color);
    border-radius: 2px;
    display: flex;
    margin-right: 9px;
    justify-content: center;
    align-items: center;
}

.modal__agree:focus + .modal__agree-label span {
    border-color: var(--accent-text-color);
}

.modal__agree:checked + .modal__agree-label span {
    background-color: var(--accent-text-color);
    border: none;
} 

.modal__check {
    fill: transparent; 
}

.modal__agree:checked + .modal__agree-label .modal__check {
    fill: var(--bcg-first-color);
}

.modal__link {
    display: flex;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.01em;
    color: var(--accent-text-color);
    text-decoration: underline;
}

.modal__btn {
    display: flex;
    justify-content: center;
}
.modal__btn-form {
    background-color: var(--bcg-btn-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 200px;
    height: 50px;
    color: var(--bcg-first-color);
    border-color: transparent;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    justify-content: center;
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0px;
    }

.modal__btn-form:hover,
.modal__btn-form:focus {
    color: var(--btn-color);
    background-color: var(--bcg-btn-color);
    box-shadow:
        0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

